<!DOCTYPE html>

<html lang="en">
<head>
     <title>Studyflo | Dash</title>
     <link rel="stylesheet" href="/stylesheets/dash.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/d24161057c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- Google WebFonts --><link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--- Include the above in your HEAD tag -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d24161057c.js" crossorigin="anonymous"></script>
    
</head>

    <body>    
    <!--    Welcome Image, Message and Icons   -->

    <div class="welcome">
        <img src="https://source.unsplash.com/daily?background,HD,nature,1200x800" alt="Welcome" style="width:100%;">
        <div class="welcomeMessage">
            <h1>Good Morning,</h1>
                <h2>daily mantra will go here.</h2>
            </div> 
        </div>      

  <!-- /Side bar -->
      <div class="sidenav">
        <a href="/users/profile"><i class="fas fa-user fa-3x"></i></a>
        <a href="/dash"><i class="fas fa-home fa-3x"></i></a>
        <a href="/todo"><i class="fas fa-tasks fa-3x"></i></a>
        <a href="/timer"><i class="fas fa-spa fa-3x"></i></a>
        <a href="/journal"><i class="fas fa-pencil-alt fa-3x"></i></a>
        <a href="/home"><i class="fas fa-water fa-3x"></i></a>
    </div>

        
    <!-- Foooter -->
    <section class="container-fluid sec-footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card desc-box">
                            <div class="card-body">
                                <div class="card-title">About Us</div>
                                <div class="card-text">
                                    Studyflo is home to a community of students who value organization and mindfulness.  
                                    This website was created for students and by students.
                                    The makers, Arianna Oneil and Samantha Silvia, are majoring in computer sceince at Bridgewater State University. 
                                </div>
                            </div>
                        </div><!--.card-->
                    </div><!--.col-->
                    <div class="col">
                        <div class="card desc-box">
                            <div class="card-body">
                                <div class="card-title">Contact Us</div>
                                <div class="card-text">
                                    <div class="row">
                                        <div class="col">
                                            <i class="fas fa-phone ml-3"></i>
                                            <span>000-000-0000</span>
                                        </div><!--.col-->
                                    </div><!--.row-->
                                    <div class="row">
                                        <div class="col">
                                            <i class="fas fa-map-marker ml-3"></i>
                                            <span>Bridgewater, MA</span>
                                        </div><!--.col-->
                                    </div><!--.row-->
                                    <div class="row">
                                        <div class="col">
                                            <i class="fas fa-envelope-open ml-3"></i>
                                            <span>studyflo@gmail.com</span>
                                
                                        </div><!--.col-->
                                    </div><!--.row-->
                                </div><!--.card-text-->
                            </div>
                        </div><!--.card-->
                    </div><!--.col-->
                    <div class="col text-center">
                        <img src="images/sam_avi.png" alt="Ari" width="10%" height="10%">
                        <img src="images/ari_avi.png" alt="Ari" width="10%" height="10%" style="position: unset;">
                        <figcaption>Arianna O'Neil & Samantha Silvia</figcaption>
                        <br class="clearfix">
                        <!--sam--><a href="https://github.com/samiam8116" class="snip1472"><i class="fab fa-github"></i></a>
                        <!--sam--><a href="https://www.linkedin.com/in/samantha-silvia-718886181/" class="snip1472"><i class="fab fa-linkedin-in"></i></a>
                        <!--ari--><a href="https://github.com/a1oneil" class="snip1472"><i class="fab fa-github"></i></a>
                        <!--ari--><a href="https://www.linkedin.com/in/oneilarianna/" class="snip1472"><i class="fab fa-linkedin-in"></i></a>
                    </div><!--.col-->
                </div><!--.row-->
            </div>
        </section>
    </body>
</html>