<!DOCTYPE html>
<html lang="en">
<head>
    <title>Studyflo | Journal</title>
    <link rel="stylesheet" href="/stylesheets/journal.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/d24161057c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- Google WebFonts --><link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Include the above in your HEAD tag -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d24161057c.js" crossorigin="anonymous"></script>


   
</head>
    <body>    
   
    <!-- /Side bar -->
        <div class="sidenav">
            <a href="/users/profile"><i class="fas fa-user fa-3x"></i></a>
            <a href="/dash"><i class="fas fa-home fa-3x"></i></a>
            <a href="/todo"><i class="fas fa-tasks fa-3x"></i></a>
            <a href="/timer"><i class="fas fa-spa fa-3x"></i></a>
            <a href="/journal"><i class="fas fa-pencil-alt fa-3x"></i></a>
            <a href="/home"><i class="fas fa-water fa-3x"></i></a>
        </div>


        <!-- Titles -->
        <div class="titles">
                <div class="date">
                    <h1>[Month, Day, Year]: Journal Entry</h1>
                    <div class="journalPrompt">
                            <h1>journal promt will be here</h1>
                    </div> 
                </div> 
            </div>
        <!-- Form -->
        <div class="form">
            <form action="/action_page.php">
            <textarea name="message" style="width:700px; height:400px;">Type here</textarea>
            <br>
            <input type="submit">
            </form>
        </div>
        
    </body>
    </html>