body {
    background-color: #f5f5f5;
    text-align: center;
  }
  
  img#logo{
      height: 25%;
      width: 25%;
  }
  .hover {
      display: none;
  }
  .col-md-3:hover{
    background-color: white;
  }
  .col-md-3:hover .hover{
    display:block;
  }
  
  .col-md-3:hover .menu{
    display:none;
  }
  
  .menu {
      display:block;
  }
  
  
  .col-md-3 {padding: 20px; min-height: 175px;}
  
  .center {
       float: none;
       margin-left: auto;
       margin-right: auto;
  }
  
  .row {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  h1{
    font-family: 'nickainleyregular';
    font-size: 100px;
  }
  
  a{
    color: white !important;
    text-shadow: none !important;
    font-size: 12px;}
  
  #fc {
    font-family: 'nickainleyregular';
    font-size: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h5{color:#ee8669; font-weight: bold;}
  /* for bottom icons */
  .sideborder { border-left: thin grey solid;}
  .giconcolor {color: #addb60;}
  .yiconcolor {color: #e8df67;}
  .piconcolor {color: #ec8595;}
  .oiconcolor {color: #ee8659;}
  .bcolor{background: #62d4cd; width: 200px;}
  .pcolor{background: #9b8dc8; width: 200px;}
  
  @media screen and (max-width: 480px) {
    h1{ font-size:60px; }
    .sideborder {
       border-top: thin grey solid;
       border-left: 0px;
    }
}